<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>

    <h1>결제 완료</h1>
    <ul>
      <li>결과코드: {{data.resultCode}}</li>
      <li>결과메세지: {{data.resultMsg}}</li>
      <li>상태: {{data.status}}</li>
      <li>결제 일시: {{data.paidAt}}</li>
      <li>상품명: {{data.goodsName}}</li>
    </ul>

  </body>
</html>